.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  height: 100%;
  

  background-color: #4caf50;
  width: 0;
  transition: width 0.4s ease-in-out;
 
}

  .progress-bar-container {
    width: 96%;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    height: 10px;
    margin: 10px;
    
   
}
.form-container{
  width: 50%;
  background-color: rgb(224, 227, 230);
  height: 50%;
  border: 3px solid black;
  border-radius: 20px;
 

}

.input-box{
  width: 90%;
    padding: 10px;          
    margin: 10px 0;         
    border: 2px solid #ccc; 
    border-radius: 5px;     
    font-size: 16px;        
    transition: border-color 0.3s ease;
}
.input-wrap{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
}
.button-style{
 
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 6px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.basic-button:hover {
    background-color: #0056b3; 
}

.gender-selector-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start; 
  padding: 10px;
   
  margin: 10px 0; 

}



.gender-selector {
  width: 90%;
  padding: 10px;          
  margin: 10px 0;         
  border: 2px solid #ccc; 
  border-radius: 5px;     
  font-size: 16px;        
  transition: border-color 0.3s ease;
}


.gender-selector-container::after {
  content: "▼";
  position: absolute;
  right: 15px;
  top: 45px; 
  pointer-events: none;
  color: #888;
}

.gender-selector:hover {
  border-color: #007bff;
}

.gender-selector:focus {
  outline: none;
  border-color: #0f0f0f;
  box-shadow: 0 0 4px rgba(14, 14, 15, 0.5);
}

.date-picker-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start; 
  padding: 10px;
   
  margin: 10px 0; 
}



.date-picker {
  width: 90%;
  padding: 10px;          
  margin: 10px 0;         
  border: 2px solid #ccc; 
  border-radius: 5px;     
  font-size: 16px;        
  transition: border-color 0.3s ease;
}

.date-picker:hover {
  border-color: #007bff;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}